@import "tailwindcss";

@theme {
  --color-primary: #22A699;
  --color-secondary: #F6E05E;
  --color-accent: #F88379;
  --color-LINE: #00B900;
  --color-X: #0F1419;
  --font-sans: "M PLUS Rounded 1c", ui-sans-serif, system-ui, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
}

@layer utilities {
  .animate-fadein {
    animation: fadein 0.8s ease;
  }
  @keyframes fadein {
    0% { opacity: 0; transform: translateY(32px);}
    100% { opacity: 1; transform: none;}
  }

  .animate-fadein-modal {
    animation: fadein-modal 1.5s ease;
  }
  @keyframes fadein-modal {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}
