<main class="max-w-md mx-auto my-8 p-6 pb-24 text-gray-700 bg-yellow-200 rounded-2xl shadow">
  <section class="mb-8 bg-white/60 p-4 rounded-xl shadow text-base">
    <h2 class="font-bold text-lg mb-2 text-primary">条件の見直し・変更</h2>
    <p>
      今月のランチ予算や抽選日数をもう一度見直したい場合は、こちらからいつでも編集できます。<br>
      気分や予定に合わせて、最適な設定にアップデートしてみましょう！
    </p>
  </section>

  <!-- 入力フォーム -->
  <%= render 'form' %>

</main>