<!-- メイン -->
<main class="flex flex-col md:flex-row items-center justify-center py-10 md:py-20 px-4 max-w-5xl mx-auto shadow bg-yellow-200">
  <!-- 画像（スマホは先頭、PCは右）-->
  <div class="order-1 md:order-2 flex-[1.5] flex justify-center items-center mb-2 md:mb-0">
    <%= image_tag "lunch.png", alt: "ランチ風景", class: "w-full max-w-xl h-auto object-cover" %>
  </div>
  <!-- 説明＆ボタン（スマホは下、PCは左） -->
  <div class="order-2 md:order-1 flex-[1.2] flex flex-col items-center md:items-start justify-center">
    <h1 class="text-3xl md:text-4xl text-gray-700 font-bold mb-6 text-center md:text-left tracking-wide">
      めしガチャで<br>
      毎日のランチをもっと楽しく
    </h1>
    <p class="mb-8 text-lg md:text-xl text-gray-700 text-center md:text-left">
      「めしガチャ」は、<span class=" text-accent font-bold">毎日のランチ代を“ガチャ”で楽しく抽選できる</span>新感覚の節約サポートアプリです。<br>
      月ごとの予算・抽選日数・1日の予算範囲を自由に設定すると、毎朝その日のランチ予算を自動で抽選 !<br>
      <span class=" text-accent font-bold">節約をゲーム感覚で楽しみたい方、毎日の外食のマンネリを変えたい方にピッタリ。</span><br>
      アプリを使って、今日のランチをもっとワクワクした時間にしませんか？
    </p>
    <div class="flex flex-col md:flex-row gap-4 mt-2 items-center md:items-start w-full md:w-auto">
      <a href="/signup" class="px-8 py-3 rounded-xl bg-primary text-white text-lg font-semibold shadow hover:bg-primary/80 transition">新規登録はこちら</a>
      <a href="/login" class="px-8 py-3 rounded-xl bg-gray-700 text-white text-lg font-semibold shadow hover:bg-gray-600 transition">ログイン</a>
    </div>
  </div>
</main>
