<p><%= @resource.nickname %> 様</p>
<p>メールアドレス変更のリクエストを受け付けました。以下のリンクをクリックして、新しいメールアドレスの確認を完了してください。</p>
<p><%= link_to '新アドレスを確認する', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>―――――――――――――――――――</p>
<p>心あたりがない場合はこのメールを破棄してください。</p>