<p><%= @resource.nickname %> 様</p>

<p>このたびメールアドレスの変更をリクエストいただきました。下記リンクをクリックして、新しいメールアドレスの確認を完了してください。</p>

<p><%= link_to 'メールアドレスを確認する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>―――――――――――――――――――</p>
<p>このメールに心あたりがない場合は、何も操作せず破棄してください。</p>