<p><%= @resource.nickname %> 様</p>

<p>パスワードの変更リンクがリクエストされました。以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしご自身でリクエストされていない場合は、このメールは無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまでは、パスワードは変更されません。</p>