<!-- フッター -->
<footer class="w-full py-6 mt-16 bg-gray-900 text-gray-300">
  <div class="w-full flex flex-col md:flex-row items-center md:items-end">
    <!-- 利用規約・プライバシーポリシー・お問い合わせ -->
    <nav class="flex flex-col md:flex-row gap-3 md:gap-20 text-sm items-center mx-auto md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
      <%= link_to "利用規約", terms_path,   class: "hover:text-white transition" %>
      <%= link_to "プライバシーポリシー", privacy_path, class: "hover:text-white transition" %>
      <%= link_to "お問い合わせ", new_contact_path, class: "hover:text-white transition" %>
    </nav>
    <!-- コピーライト -->
    <div class="text-xs mt-6 md:mt-0 md:mr-10 md:self-end md:ml-auto">&copy; <%= Time.current.year %> めしガチャ</div>
  </div>
</footer>