<!-- ヘッダー　-->
<header class="flex justify-between items-center px-4 md:px-8 py-4">
  <!-- 左側：ロゴ　-->
  <div class="flex items-center">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "めしガチャ ロゴ", class: "h-30 w-auto mr-2" %>
    <% end %>
  </div>
  <!-- 右側：新規登録・ログイン -->
  <nav class="space-x-6">
    <a href="/login" class="hidden sm:inline-block px-4 py-2 text-primary rounded-xl hover:bg-gray-300 transition font-semibold">ログイン</a>
    <a href="/signup" class="hidden sm:inline-block px-4 py-2 text-primary rounded-xl hover:bg-gray-300 transition font-semibold">新規登録</a>
    <!-- スマホ表示ボタン -->
    <div class="sm:hidden flex flex-row space-x-3">
      <a href="/login" class="sm:inline-block px-4 py-2 text-white rounded-xl bg-primary font-semibold">ログイン</a>
      <a href="/signup" class="sm:inline-block px-4 py-2 text-white rounded-xl bg-primary font-semibold">新規登録</a>
    </div>
  </nav>
</header>
